<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>launch</string>
		<key>UIImageName</key>
		<string>pokeball</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>PressStart2P-Regular.ttf</string>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.wvabrinskas.PokePal.smodel</string>
			<key>UTTypeDescription</key>
			<string>Neuron Model</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>smodel</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
